.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    background-color: rgb(65, 100, 130);
} 
#logo{
    width: 100px;
    height: 100px;
}
#logo img{
    width: 100%;
}

#name{
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
}

.Heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}

.sudoku_grid{
    display: flex;
    flex-direction: row;
    max-width: 578px;
    flex-wrap: wrap;

    margin: 10px auto ;
}

.sudoku_grid div{
    display:  flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 40px;

    box-sizing: border-box;
}

.Buttons{   
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-bottom: 40px;
}

#GetPuzzle,#SolvePuzzle{
    display: inline-block;
    text-decoration: none;
    color: #020202;
    font-weight: bold;
    background-color: #5b414f;
    padding: 10px 35px;
    font-size: 24px;
    border: 1px solid #315d4c;
    box-shadow: inset 0px 1px 0px #5c2c2c;
    margin-right: 10px;
}

.box1{
    background-color: #e11175;
    border: 2px solid  rgb(0, 0, 0);
}

.box1:hover{
    background-color: #693b55;
    color: black;
}

.box2{
    background-color: #4a2f5b;
    border: 2px solid  rgb(0, 0, 0);
}
.box2:hover{
    background-color: rgb(129, 60, 108);
}

.box3{
    background-color: #1d3b5a;
    border: 2px solid  rgb(0, 0, 0);
}
.box3:hover{
    background-color: #3e3e68;
    color: black
}

.bl{
    border-left: 4px solid black;
}

.bb{
    border-bottom: 4px solid black;
}

.br{
    border-right: 4px solid black;
}

.bt{
    border-top: 4px solid black;
}